{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <body>
        <div>
            <div class="logo">
              <h3 class='mainTitle'>Voice Assisted Face sketching <br /> using GAN and NLP</h3>
            </div>
            <div>
              <div>
                <div class="leftComponent">
                  <div class='allBtn'>
                        <div><button class='Btns NewP'>+</button></div>
                        <div><button class='Btns SaveP'></button></div>
                        <div><button class='Btns OpenP'></button></div>
                        <div><button class='Btns AboutP'></button></div>
                        <div><button class='Btns CloseP'></button></div>
                    </div>
                </div>
              </div>
              <div>
                <div class='mainComponent'> 
                
                    {% block content %}
                
                    {% endblock %}
                    
                </div>
              </div>
            </div>
              <div class="mid">
                
              </div>
          </div>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>    
</body>
</html>