{% extends 'base.html' %}

{% block content %}
    <div class='mid'>
      <h1 class='textMain'>Describe</h1>
        <div class="micBack">
            <div></div>
            <div class='micO'></div>
          </div>
          <p style="color: white;">Click on the below button and speak something...</p>
          <p style="color: white;"><button type="button" onclick="runSpeechRecognition()">Speech to Text</button> &nbsp; <span id="action"></span></p> -->
          <!-- <button style="float : right; margin-top: 2vw;" class="btn btn-danger">Skip</button> -->
          <form action="textSpeech" method="get">
            <!-- <input style="color: white;" id="output" name="id" class="hide"> -->
            <textarea name="TextSp" id="output" cols="30" class="hide" rows="10" hidden></textarea>
            <input type="hidden" value="#output">
            <button style="float : right;" class="btn btn-success" type="submit">next</button>
          </form>
    </div>
    <!-- <h2>JavaScript Speech to Text</h2>
    <p>Click on the below button and speak something...</p>
    <p><button type="button" onclick="runSpeechRecognition()">Speech to Text</button> &nbsp; <span id="action"></span></p> -->

<script>
  /* JS comes here */
    function runSpeechRecognition() {
        // get output div reference
        var output = document.getElementById("output");
        // get action element reference
        var action = document.getElementById("action");
            // new speech recognition object
            var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;
            var recognition = new SpeechRecognition();
        
            // This runs when the speech recognition service starts
            recognition.onstart = function() {
                action.innerHTML = "<small>listening, please speak...</small>";
            };
            
            recognition.onspeechend = function() {
                action.innerHTML = "<small>stopped listening, hope you are done...</small>";
                recognition.stop();
            }
          
            // This runs when the speech recognition service returns result
            recognition.onresult = function(event) {
                var transcript = event.results[0][0].transcript;
                var confidence = event.results[0][0].confidence;
                // output.innerHTML = "<b>Text:</b> " + transcript + "<br/> <b>Confidence:</b> " + confidence*100+"%";
                output.innerHTML = transcript;
                output.classList.remove("hide");
            };
          
             // start recognition
             recognition.start();
      }
</script>
{% endblock %}

