<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <style>
        body{
            margin: 0;
        }
        .bodyFace{
            margin: 0;
            background: #272727;
        }
        .sideNav{
            width: 20rem;
            height: 100vh;
            background: #333333;
            color: white;
        }
        .colorTones{
            height: 30px; 
            width: 30px; 
            border-radius: 30px; 
            float: left; 
        }
        .colorTones:hover{
            cursor: pointer;
        }
    </style>
  </head>
<body>
    <div class="bodyFace">
        <div class="sideNav">
            <div style="padding-left: 2vw; padding-top: 1vw;">
                <div style="width: 90%; background: #333333; height: 95vh;">
                    <h6>Sex</h6>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                          Male
                        </label>
                      </div>
                      <div class="form-check">  
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                        <label class="form-check-label" for="flexRadioDefault2">
                          Female
                        </label>
                      </div>
                    <hr>
                    <h6>Skin Tone</h6>
                    <div class="colorTones" style="background: #d3c8f3;"></div>
                    <div class="colorTones" style="background: #e8ba93; margin-left: 10px;"></div>
                    <div class="colorTones" style="background: #e2956e; margin-left: 10px;"></div>
                    <div class="colorTones" style="background: #b37e5b; margin-left: 10px;"></div>
                    <div class="colorTones" style="background: #845437; margin-left: 10px;"></div>
                    <div class="colorTones" style="background: #523f37; margin-left: 10px;"></div>
                    <br>
                    <hr>
                    <h6>Hair Color</h6>
                    <div class="colorTones" style="background: #404040;"></div>
                    <div class="colorTones" style="background: #fff2d0; margin-left: 10px;"></div>
                    <div class="colorTones" style="background: #6c4f3d; margin-left: 10px;"></div>
                    <div class="colorTones" style="background: #8d8d8d; margin-left: 10px;"></div>
                    <div class="colorTones" style="background: #e24725; margin-left: 10px;"></div>
                    <br>
                    <hr>
                    <h6>Age</h6>
                    <input type="range" class="form-range" min="0" max="5" value="0" step="0.5" id="customRange3">
                    <p style="float: left; font-size: small; color: #bababa;">younger</p>
                    <p style="float: right; font-size: small; color: #bababa;">Older</p>
                    <br>
                    <br>
                    <hr>
                    <h6>Hair Length</h6>
                    <input type="range" class="form-range" min="0" max="5" value="0" step="0.5" id="customRange3">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                        <label class="form-check-label" for="flexRadioDefault2">
                          Hair Loss
                        </label>
                    </div>
                    <hr>
                    <h6>Glasses</h6>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                        <label class="form-check-label" for="flexRadioDefault2">
                          no
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                        <label class="form-check-label" for="flexRadioDefault2">
                          Reading glasses
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                        <label class="form-check-label" for="flexRadioDefault2">
                          Sunglasses
                        </label>
                    </div>
                    <hr>
                    <h6>Makeup</h6>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                        <label class="form-check-label" for="flexRadioDefault2">
                          Eyes
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                        <label class="form-check-label" for="flexRadioDefault2">
                          Lips
                        </label>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>