{% extends 'base.html' %}

{% block content %}
    <div>
        <div class='mid'>
          <h1 class='textMain'>New Case</h1>
          <hr style="background: white;" />
          <br />
          <span>
            <div class='innerWidth'>
              <form action="new" method="post">
                {% csrf_token %}
                <div class="mb-3" controlId="formBasicEmail">
                  <label class='textAll'>Name</label>
                  <input type="text" name="name" placeholder="Enter Name" required>
                  
                </div>
                <div class="mb-3" controlId="formBasicEmail">
                  <label class='textAll'>Case File</label>
                  <input type="text" name="caseFile" placeholder="Enter Case File Name">
                  
                </div>
                <div class="mb-3" controlId="formBasicEmail">
                  <label class='textAll'>Suspect Name</label>
                  <input type="text" name="suspectName" placeholder="Enter Suspect Name">
                  
                </div>
                <br />
                <hr style="background: white" />
                <div><button name="submit" type='submit' class="my-2 btn btn-success">Submit</button></div>
              </form>
            </div> 
          </span>
        </div>
    </div>
{% endblock %}